{{> startmenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/steve.svg" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> Welcome to the Application Boilerplate</header>
      <p> Sign up or log in </p>
    </article>
  </div>
</section>
