{{> menu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <article class="six wide column">
      <header class="ui  header"> Application Starter</header>
      <img class="ui image" src="/images/elliot.jpg" alt="Starter Image">
      <p> Welcome to the App Boilerplace </p>
    </article>
    <article class="ten wide column">
      <header class="ui  header"> This is just the beginning</header>
      <img class="ui image" src="/images/jenny.jpg" alt="Starter Image">
      <p class="ui label"> Explrore & Create </p>
    </article>
  </div>
</section>
